@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');

:root {
    --font-family: 'Fenix', serif;
    --bg-color: #781D42;
    --primary-color: #F0D290;
    --box-shadow: #DE834D;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 4em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 4em;
    margin-top: 20px;
}

.mensagem {
    font-size: 2em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--primary-color);
    box-shadow: 6px 8px var(--box-shadow);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar {
    font-size: 2em;
    font-family: var(--font-family);
    text-transform: uppercase;
    color: var(--bg-color);
    padding: 12px 24px;
    border: 0;
    background: var(--primary-color);
    border-radius: 20px;
    margin-top: 24px;
}